{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-8 col-sm-12 mx-auto mt-3">
        <div class="card ">
            <div class="card-body">
                <div class="h3">Password Reset</div>
                <p>Forgotten your password? Enter your email address below for setting a new one.</p>
                <form method="post">
                    {% csrf_token %}
                    {% for field in password_reset_form %}
                    <div class="form-group">
                        <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
                        {{ field|add_class:"form-control"}}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-info btn-block">reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}