{% extends 'core/base.html' %}

{% block title %}{{user.get_full_name}}{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto mt-3">
        <div class="card ">
            <div class="card-body">
                <p><span class="font-weight-bold">Full Name:</span>{{user.get_full_name}}</p>
                <p><span class="font-weight-bold">Email address:</span>{{user.email}}</p>
                <p><span class="font-weight-bold">Birth Day:</span>{{user.date_of_birth}}</p>
                <p><span class="font-weight-bold">Status:</span>{{user.status}}</p>
                <p><span class="font-weight-bold">Data Joined:</span>{{user.date_joined}}</p>
                <a href="{% url 'profile_edit' %}" class="text-decoration-none text-info">Edit Your Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}