{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 col-sm-12 mr-auto">
        <p class="display-4">Home Page</p>
        <p><span class="font-weight-bold">Registered Users: </span>{{count}}</p>
    </div>
    <div class="col-md-4 col-sm-12 ml-auto mt-3">
        <form method="POST">
            <div class="input-group input-group-lg">
                {% csrf_token %}
                {% for field in search_user_form %}
                {{ field|add_class:"form-control input-lg" | append_attr:"placeholder:email address"}}
                {% endfor %}
                <span class="input-group-btn">
                    <button class="btn btn-outline-info btn-lg" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <p>{{user.get_full_name}}, welcome.</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto text-center">
        {% if users %}
        {% for user in users %}
        <p><a href="{% url 'user_profile' user.id %}">{{user.email}}</a></p>
        {% empty %}
        user is not found
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}